<div class="jumbotron">
    <h1>Authentication Server</h1>
    <p class="lead">This application is a Web Api that provides authentication tokens (bearer jwt).To get a token you have send a POST request with the body: user_grant=password&username=replace&password=replace</p>
    <p>It is a WebApi project with the following modifications:</p>
    <ul>
        <li>Logic to generate the tokens (see classes: startup and authConfig)</li>
        <li>Token generation parameters (AudienceId and AudienceSecret) were added to the web.config</li>
        <li>Also some nuget packages were added to the solution in order to generate the token</li>
    </ul>
</div>