<div class="jumbotron">
    <h1>Web API</h1>
    <p class="lead">This is application offers business features in the form of a Web Api. The Api is secured so to call it an authentication toked (bearer jwt) should be included in the request.</p>
    <p><a href="help" class="btn btn-primary btn-lg">See API details</a></p>
</div>
